:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-800: #cbcbcbff;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #f7f5f5ff;
  --dl-color-gray-white: #1d1e20ff;
  --dl-space-space-unit: 8px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-radius-radius-round: 50%;
  --dl-size-size-maxcontent: 1414px;
  --dl-space-space-halfunit: 4px;
  --dl-space-space-tenunits: 80px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 40px;
  --dl-space-space-fourunits: 32px;
  --dl-space-space-doubleunit: 16px;
  --dl-space-space-tripleunit: 24px;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: Arial;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list-item {
  display: list-item;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  font-family: Arial;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  font-family: Arial;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,0.75);
  min-height: 250px;
  align-items: center;
  border-color: rgba(255,255,255,0.15);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}

.wobble:hover {
  animation: shake 500ms ease-in-out forwards;
}
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.delayFade {
  opacity: 0;
  animation-name: fadeIn, slideIn;
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.61,1.51,.47,1.02);
}
.slide-in-from-left {
  opacity: 1;
  animation: 1.5s ease-out 0s 1 slideInFromLeft forwards;
}
.delaySlide {
  opacity: 0;
  animation-name: slideIn;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.separator {
  width: 80%;
  height: 1px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  background-color: rgba(100,100,100,0.5);
}


.social-links {
  fill: var(--dl-color-gray-700);
  width: auto;
  height: 100px;
  margin: 0px 50px;
  padding: 20px;
  align-self: center;
}
.hoverGlow {
  animation-name: glowOut;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}
.hoverGlow:hover {
  animation-name: glowIn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.Section-Text {
  font-size: 18px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 2;
  text-transform: none;
  text-decoration: none;
}
.GreatingSub {
  font-size: 18px;
  font-family: Nunito;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
.Card-Text {
  font-size: 16px;
  font-style: normal;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1;
  text-transform: none;
  text-decoration: none;
}
.Greeting {
  font-size: 48px;
  font-family: Georgia;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 18px;
  font-family: Nunito;
  font-weight: 300;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.Card-Heading {
  font-size: 24px;
  font-style: normal;
  font-family: Nunito;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  text-decoration: none;
}
.Anchor {
  font-size: 16px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.Navbar-Link {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.Section-Heading {
  font-size: 48px;
  font-family: Georgia;
  font-weight: 400;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}




