<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a href="#about-me" class="navigation-links1-link hoverGlow">
      <span>About</span>
    </a>
    <a href="#experience" class="navigation-links1-link1 hoverGlow">
      <span>Experience</span>
    </a>
    <a href="#knowledge" class="navigation-links1-link2 hoverGlow">
      <span>Knowledge</span>
    </a>
    <a href="#history" class="navigation-links1-link3 hoverGlow">
      <span>Career</span>
    </a>
  </nav>
</div>
