.post-card-box {
  margin: 100px 0 100px;
  padding: 0;

  li {
    position: relative;
    list-style: none;
    float: left;
    width: 50%;
    transition: all .3s;
    &:hover {
      .post-card-body {
        transition: all .3s;
        height:75px;
        opacity:1;
      }
    }
  }
}

.post-card {
  position: relative;

  .post-card-image {
    display: block;
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .post-card-body {
    transition: all .3s;
    position: absolute;
    left: 0%;
    bottom: 0%;
    padding-left:5%;
    padding-bottom:2%;
    height:0px;
    background-color:rgba(0,0,0,0.67);
    width:100%;
    opacity:0;

    .post-card-link {
      text-decoration: none;
      display: block;
    }

    .post-card-title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      color: $white;
      margin: 0 0 10px;
      &:hover {
        opacity: .8;
      }
    }

    .tag {
      text-decoration: none;
      font-size: 10px;
      text-transform: uppercase;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
